# work folders, files
node_modules
.env
description.txt
artifacts
cache
frontend
coverage
coverage.json
typechain
yarn-error.log
images
metadata
discription.txt
images2.car
images2
metadata2
metadata2.car